.about-container {
  /* Estilos del contenedor 'about' */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
}

p.about-title {
  /* Estilos para el título dentro de 'about' */
  color: whitesmoke;
  font-size: 3rem;
  transform: translateX(calc(5% + 10px)); /* Desplazamiento horizontal */
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("src/assets/images/about.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.blur {
  /* Estilos para elementos con un efecto de desenfoque */
  color: whitesmoke;
  background: rgba(4, 4, 4, 0.23);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.3px);
  -webkit-backdrop-filter: blur(12.3px);
  border: 1px solid rgba(4, 4, 4, 0.03);
  height: auto;
  width: 50%;
  min-width: 283.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.blur:hover {
  /* Efecto al pasar el ratón sobre elementos con clase 'blur' */
  transform: scale(1.01);
}

.about-text-container {
  /* Contenedor para el texto de 'about' */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.about-text-container p {
  /* Estilos para párrafos dentro del contenedor de texto de 'about' */
  font-size: 1.5rem;
  max-width: 100%;
}

/* Media queries para adaptabilidad */
@media (max-width: 1080px) {
  .about-text-container p {
    font-size: 1.5rem;
  }
  p.about-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 590px) {
  .about-text-container p {
    font-size: 1rem;
  }
  p.about-title {
    font-size: 2rem;
  }
}
