<section class="hobbies-container">
  <div class="text-container">
    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="hobbies-content-container">
        <div class="card flex justify-content-center">
          <p-accordion [multiple]="false">
            <p-accordionTab header="Coffee">
              <p>
                {{ hobbiesContent[0] }}
              </p>
            </p-accordionTab>
            <p-accordionTab header="Music">
              <p>
                {{ hobbiesContent[1] }}
              </p>
            </p-accordionTab>
            <p-accordionTab header="Movies">
              <p>
                {{ hobbiesContent[2] }}
              </p>
            </p-accordionTab>
            <p-accordionTab header="Videogames">
              <p>
                {{ hobbiesContent[3] }}
              </p>
            </p-accordionTab>
            <p-accordionTab header="Traveling">
              <p>
                {{ hobbiesContent[4] }}
              </p>
            </p-accordionTab>
            <p-accordionTab header="Tech">
              <p>
                {{ hobbiesContent[5] }}
              </p>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>
  </div>
</section>
