/* Estilos por defecto */
.card-custom {
  width: 360px; /* Tamaño predeterminado */
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  :host ::ng-deep .card-custom {
    width: 100% !important; /* Toma el ancho completo en pantallas pequeñas */
    max-width: 300px !important; /* Máximo ancho para pantallas pequeñas */
    min-height: 200px !important; /* Altura ajustada para pantallas pequeñas */
  }

  :host ::ng-deep .card-custom .card-image {
    max-width: 100% !important; /* Hace que las imágenes sean responsivas */
    height: auto !important; /* Mantiene la relación de aspecto */
  }

  :host ::ng-deep .p-card .p-card-title {
    font-size: 1rem;
  }

  :host ::ng-deep .p-card .p-card-subtitle {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  :host ::ng-deep .p-card-content {
    padding: 0;
  }
  

  :host ::ng-deep .card-custom .card-description {
    font-size: 10px !important; /* Ajusta el tamaño de la fuente para el contenido de la tarjeta */
  }
}
