.companies-container {
  align-items: center;
  background-image: url("src/assets/images/companies.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  color: rgba(255, 255, 255, 1);
}

.cards-container {
  height: 50vh;
  width: 20vw;
  background-color: aqua;
}