a {
  cursor: default;
}

li {
  color: #635985;
  font-family: 'Roboto Mono', monospace;
  padding: 0 8px 0 8px;
  list-style: none;
  transition: 0.5s ease;
  }

li:hover {
  color: #18122B;
  font-weight: 1000;
}