<button type="button" class="menu-button" (click)="toggleSidebar()"
	aria-controls="site-drawer" [attr.aria-expanded]="sidebarVisible">
	<app-icon name="menu"></app-icon>
	<span>Menu</span>
</button>

<div class="drawer-backdrop" [class.open]="sidebarVisible" (click)="onSidebarHide()" aria-hidden="true"></div>

<aside id="site-drawer" class="drawer" [class.open]="sidebarVisible" role="dialog" aria-label="Site menu"
	[attr.aria-hidden]="!sidebarVisible">
	<header class="drawer-header">
		<h3>Menu</h3>
		<button type="button" class="drawer-close" (click)="onSidebarHide()" aria-label="Close menu">
			<app-icon name="x"></app-icon>
		</button>
	</header>
	<ul class="drawer-nav">
		@for (item of items; track item.label) {
			<li>
				@if (item.items) {
					<button type="button" class="main-item" (click)="item.expanded = !item.expanded"
						[attr.aria-expanded]="item.expanded ?? false">
						<span class="main-item-label">
							<app-icon [name]="item.icon"></app-icon> {{ item.label }}
						</span>
						<app-icon [name]="item.expanded ? 'chevron-up' : 'chevron-down'"></app-icon>
					</button>
					@if (item.expanded) {
						<ul class="submenu">
							@for (childItem of item.items; track childItem.label) {
								<li>
									@if (childItem.externalLink) {
										<a href="{{childItem.externalLink}}" target="_blank" rel="noopener noreferrer"
											(click)="onSidebarHide()" class="sub-item-link">
											<app-icon [name]="childItem.icon"></app-icon> {{ childItem.label }}
										</a>
									} @else {
										<a [routerLink]="childItem.routerLink" [fragment]="childItem.fragment"
											(click)="onSidebarHide()" class="sub-item-link">
											<app-icon [name]="childItem.icon"></app-icon> {{ childItem.label }}
										</a>
									}
								</li>
							}
						</ul>
					}
				} @else {
					@if (item.externalLink) {
						<a href="{{item.externalLink}}" target="_blank" rel="noopener noreferrer"
							(click)="onSidebarHide()" class="main-item-link">
							<app-icon [name]="item.icon"></app-icon> {{ item.label }}
						</a>
					} @else {
						<a [routerLink]="item.routerLink" (click)="onSidebarHide()" class="main-item-link">
							<app-icon [name]="item.icon"></app-icon> {{ item.label }}
						</a>
					}
				}
			</li>
		}
	</ul>
</aside>
