/* Estilos generales del sidebar */
:host ::ng-deep .p-sidebar {
  font-size: 1rem; /* Tamaño base para el texto dentro del sidebar */
}

:host ::ng-deep .p-sidebar ul {
  cursor: default;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos para todos los enlaces dentro del sidebar */
:host ::ng-deep .p-sidebar a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 1rem 0 1rem 2.5rem;
}

/* Efecto hover para enlaces */
:host ::ng-deep .p-sidebar a:hover {
  background-color: #f0f0f06b;
  color: black;
}

/* Botón fijo para abrir el sidebar */
.p-button-fixed {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1000;
}

/* Ajuste del tamaño del texto del botón */
:host ::ng-deep .p-button-fixed .p-button-label {
  font-size: 1.5rem;
}

/* Animación para la expansión de submenús */
.submenu {
  display: none;
}

.submenu.expanded {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

::ng-deep .p-sidebar {
  color: whitesmoke !important;
  background: rgba(4, 4, 4, 0.409);
  border-radius: 16px;  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.3px);
  -webkit-backdrop-filter: blur(12.3px);
  border: 1px solid rgba(4, 4, 4, 0.109);
}

/* Ajuste de tamaño de letra para elementos principales */
:host ::ng-deep .p-sidebar > ul > li > a {
  font-size: 1rem; /* Tamaño mayor para elementos principales */
}

/* Ajuste de tamaño de letra para elementos principales usando una clase específica */
:host ::ng-deep .p-sidebar .main-item-link {
  font-size: 1.1rem; /* Ajusta el tamaño según necesites */
}

/* Ajuste de tamaño de letra para sub-elementos */
:host ::ng-deep .p-sidebar .submenu a {
  font-size: 0.9rem; /* Tamaño estándar para sub-elementos, asegurando contraste */
}
