@import "primeicons/primeicons.css";

@font-face {
  font-family: 'SpaceMono';
  src: url('./assets/fonts/SpaceMono-Bold.ttf') format('truetype');
  src: url('./assets/fonts/SpaceMono-BoldItalic.ttf') format('truetype');
  src: url('./assets/fonts/SpaceMono-Italic.ttf') format('truetype');
  src: url('./assets/fonts/SpaceMono-Regular.ttf') format('truetype');
  /* Puedes agregar más formatos de fuente aquí si tienes varios archivos de fuente */
}

body {
  font-family: 'SpaceMono', monospace;
}

p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}